In [1]:
from cobra.io import load_model
from cobra.flux_analysis import (
    single_gene_deletion, single_reaction_deletion, double_gene_deletion,
    double_reaction_deletion, flux_variability_analysis)

model = load_model("iML1515")

In [2]:
model

In [31]:
model.optimize()

In [30]:
model.optimize().objective_value

0.8769972144269834

In [38]:
model.summary()

In [36]:
model.medium

{'EX_pi_e': 1000.0,
 'EX_co2_e': 1000.0,
 'EX_fe3_e': 1000.0,
 'EX_h_e': 1000.0,
 'EX_mn2_e': 1000.0,
 'EX_fe2_e': 1000.0,
 'EX_glc__D_e': 10.0,
 'EX_zn2_e': 1000.0,
 'EX_mg2_e': 1000.0,
 'EX_ca2_e': 1000.0,
 'EX_ni2_e': 1000.0,
 'EX_cu2_e': 1000.0,
 'EX_sel_e': 1000.0,
 'EX_cobalt2_e': 1000.0,
 'EX_h2o_e': 1000.0,
 'EX_mobd_e': 1000.0,
 'EX_so4_e': 1000.0,
 'EX_nh4_e': 1000.0,
 'EX_k_e': 1000.0,
 'EX_na1_e': 1000.0,
 'EX_cl_e': 1000.0,
 'EX_tungs_e': 1000.0,
 'EX_slnt_e': 1000.0}

In [ ]:
medium_NoGlc = model.medium
medium_NoGlc["EX_glc__D_e"] = 0.0
model.medium = medium_NoGlc

# There is a small trap here. model.medium can not be assigned to directly. So the following will not work:
# model.medium["EX_co2_e"] = 0.0
# model.medium

model.medium

In [40]:

medium_No02 = model.medium
medium_No02["EX_o2_e"] = 0.0
model.medium = medium_No02

model.summary()

In [39]:
no_O2 = model.reactions.get_by_id("EX_o2_e")
no_O2.bounds = (0, 1000)
model.summary()

In [43]:
model.metabolites.get_by_id("glc__D_e")

In [46]:
model.reactions.get_by_id("GLCtex_copy1")

In [59]:
model.metabolites.get_by_id("atp_c")

In [75]:
model.reactions.get_by_id("PYK")

In [ ]:
print(f"Regular model: {model.optimize().objective_value}")

with model:
    double = double_reaction_deletion(model)
    pyk = model.reactions.PYK
    pyk2 = model.reactions.PYK2
    pyk3 = model.reactions.PYK3
    pyk4 = model.reactions.PYK4
    pyk6 = model.reactions.PYK6
    
    print(double.knockout[{pyk, pyk2}, {pyk, pyk3}])

Regular model: 0.87699721425716

In [ ]:
flux_variability_analysis(model, model.reactions.CYTK1)

        minimum   maximum
CYTK1  0.158739  0.158739

In [15]:
flux_variability_analysis(
    model,
    ["CYTK1", "CYTK2", "PYK"],
    loopless=True
)

            minimum       maximum
CYTK1  1.587391e-01  1.587391e-01
CYTK2 -7.855203e-12  3.927601e-12
PYK    0.000000e+00  2.275814e+00

In [ ]:
flux_variability_analysis(
    model,
    ["CYTK1", "CYTK2", "PYK"]
)
# Different results for loopless true/false means that the reaction has a loop that is not possible in vivo

            minimum       maximum
CYTK1  1.587391e-01  1.587391e-01
CYTK2 -4.127310e-12  2.063655e-12
PYK    0.000000e+00  2.275814e+00

In [18]:
model.reactions.get_by_id("CYTK1")

In [10]:
print(f"Regular model: {model.optimize().objective_value}")

with model:
    model.reactions.CYTK1.knock_out() # 0.8752954684189185 <- Solo
    #model.reactions.CYTK2.knock_out() # 0.8769972144269912 <- Solo
    # 0.8752954684189429 both
    print(f"Knock out solution: {model.optimize().objective_value}")

Regular model: 0.876997214427006
Knock out solution: 0.8752954684189185

In [12]:
print(f"Regular model: {model.optimize().objective_value}")

with model:
    model.reactions.GLCtex_copy1.knock_out() #Knocking only one doesn't create a change
    #model.reactions.GLCtex_copy2.knock_out() # Knocking two kills the organism
    print(f"Knocked out solution: {model.optimize().objective_value}")

Regular model: 0.8769972144269661
Knocked out solution: 0.8769972144269661

In [77]:
print(f"Regular model: {model.optimize().objective_value}")

with model:
    model.genes.b1676.knock_out()
    print(f"Knocked out solution: {model.optimize().objective_value}")

Regular model: 0.8769972144269954
Knocked out solution: 0.8769972144269954

In [ ]:
print(f"Regular model: {model.optimize().objective_value}")

with model:
    # double_gene_deletion(model, ["b1676"], ["b1854"])
    # This crashes the program due to no memory. Can't test it
    print(f"Gene knockout: {model.optimize().objective_value}")

Regular model: 0.8769972144269954
Gene knockout: 0.8769972144269954

In [ ]:
print(f"regular model: {model.optimize().objective_value}")

with model:
    single_gene_deletion(model, ["b0910"])
    print(f"Gene knockout solution: {model.optimize().objective_value}")

with model:
    single_reaction_deletion(model, ["CYTK1"])
    print(f"Reaction knockout solution: {model.optimize().objective_value}")

# 0.8752954684189185 <- Was the .knock_out() result

regular model: 0.876997214427006
Gene knockout solution: 0.876997214427006
Reaction knockout solution: 0.876997214427006

In [ ]:
model.summary()
# No carbon source. So no growth
# Gives 'infeasible' error

Infeasible: None (infeasible).

In [19]:
model.exchanges[0:5]

[<Reaction EX_pi_e at 0x72be19608050>,
 <Reaction EX_co2_e at 0x72be19609b80>,
 <Reaction EX_met__L_e at 0x72be1960aba0>,
 <Reaction EX_metsox_S__L_e at 0x72be1960bdd0>,
 <Reaction EX_acgam_e at 0x72be1964d6d0>]

In [20]:
model.demands[0:5]

[<Reaction DM_amob_c at 0x72be1913e270>,
 <Reaction DM_5drib_c at 0x72be185604d0>,
 <Reaction DM_oxam_c at 0x72be1859c590>,
 <Reaction DM_aacald_c at 0x72be182a38c0>,
 <Reaction DM_4crsol_c at 0x72be18060b30>]

In [21]:
model.boundary[0:5]

[<Reaction EX_pi_e at 0x72be19608050>,
 <Reaction EX_co2_e at 0x72be19609b80>,
 <Reaction EX_met__L_e at 0x72be1960aba0>,
 <Reaction EX_metsox_S__L_e at 0x72be1960bdd0>,
 <Reaction EX_acgam_e at 0x72be1964d6d0>]

In [ ]:
flux_variability_analysis(model, model.reactions[:10])
# finds the ranges of each metabolic flux at the optimum

# , fraction_of_optimum=0.9 <- At %90 optimality

             minimum       maximum
CYTDK2  0.000000e+00  2.858328e-12
XPPT    0.000000e+00 -6.226736e-13
HXPRT   0.000000e+00 -1.115665e-12
NDPK5  -2.294751e-02  1.143331e-11
SHK3Dr  3.342403e-01  3.342403e-01
NDPK6   0.000000e+00 -1.269620e-11
NDPK8  -2.294751e-02  1.143331e-11
DHORTS -2.901063e-01 -2.901063e-01
OMPDC   2.901063e-01  2.901063e-01
PYNP2r -5.436754e-18  2.294751e-02