In [1]:
from cobra.io import load_model
from cobra import Model, Reaction, Metabolite
model = load_model("textbook")

In [30]:
o2_Intake = model.reactions.get_by_id("EX_o2_e") 
old_bounds = model.reactions.get_by_id("EX_o2_e").bounds
print(f"Old bounds: {old_bounds}")

o2_Intake.bounds = (0, 1000)
print(f"New Bounds: {o2_Intake.bounds}")

Old bounds: (0, 1000)
New Bounds: (0, 1000)

In [31]:
glc_Intake = model.reactions.get_by_id("EX_glc__D_e")
glc_Intake.bounds = (-18.5, 1000)

In [32]:
model.summary()

In [33]:
solution = model.optimize()
print(solution.objective_value) # Returns the value in the objective
print(solution)

0.47056517108867857
<Solution 0.471 at 0x7e613e74cb90>

In [ ]:
model.summary()

In [2]:
model_salm = load_model("salmonella")

In [4]:
model_iML = load_model("iML1515")

In [5]:
model_iML

In [2]:
from cobra.flux_analysis import flux_variability_analysis

loop_reactions = [model.reactions.FRD7, model.reactions.SUCDi]
flux_variability_analysis(model, reaction_list=loop_reactions, loopless=False)

        minimum      maximum
FRD7   0.000000   994.935624
SUCDi  5.064376  1000.000000

In [3]:
flux_variability_analysis(model, reaction_list=loop_reactions, loopless=True)

        minimum   maximum
FRD7   0.000000  0.000000
SUCDi  5.064376  5.064376

In [4]:
model.summary(fva=0.95)